body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

.buttonclass{
  width:331px;
  height: 330px;
  border-radius: 30px;
  margin:auto;
  position:relative;
}

.subbuttonclass{
  border-radius:30px;
  width: 299px;
  height:80px;
  position: absolute;
  top:215px;
  left:17px;
  text-align: center;
}

.imageholder{
  height: fit-content;
  width: 331px;
  text-align:center;
  margin:auto;
}

.mainholder{
  width: 331px;
  text-align: center;
  margin: auto;
  margin-top:25px;
  margin-bottom: 8px;
}

.holderitems{
  padding-top:25px;
  padding-bottom:25px;
  margin: 0px;
}

.ontheright{
  float: right!important;
  text-align: right!important;
}

.imagestyling{
  width:100%;
}

.aboutus1holder{
  width :100%;
  background-size: contain;
  background-image: url("../images/expoworkshop/aboutus1.jpg");
}

.aboutus2holder{
  width :100%;
  background-size: contain;
  background-image: url("../images/expoworkshop/aboutus2.jpg");
  height: fit-content;
}

.insertedimage{
    width: 100%;
}

.padded{
  padding-left: 2%;
  padding-right: 2%;
}

.navbar-stylers{
  height: inherit;
  align-items: center;
}

.img-fit{
  height:100%;
  float:left;
  padding-left: 16px;
}

.top{
  height: 60px;
  top: 0px;
  width:100%;
  z-index:2;
  position:absolute;
  opacity: 1;
  align-items: center;
  background-color: black;
  color:white
}

.top-occupy{
  height:60px;
  width:100%; 
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-color: white;
  color:black;
  min-height: 100%;
  background-image: url("../images/expoworkshop/filler.jpeg");
  }
  .bgimg-2 {
    background-color: white;
    color:black;
    min-height: 10%;
    }
  
  /* Second image (Portfolio) */
  .bgimg-2 {
    background-color: white;
    color:black;
    min-height: 100px;
  }

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.preview-image{
  height: 90%;
  width: 90%;
  object-fit: contain;
}
.searchbarvalues{
  display: none
  }

.captionbox{
  width: 20%;
  height: 30%;
}

.gamedescription{
  height: 400px;
}

.vpadding{
  padding-top:25px!important;
  padding-bottom: 25px!important;
}

.textcontainer{
  height: 40px;
  color: black;
  margin: 20px;
}

@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2 {
    background-attachment: scroll;
    height: 100%;
    color:black;
  }
  .bgimg-2 {
    background-attachment: scroll;
    height: 10%;
    color:black;
  }
}

